## Basic Udemy

In [131]:
import numpy as np
import pandas as pd

In [132]:
from pandas import Series, DataFrame

In [133]:
obj = Series([3,4,5,6])

In [134]:
obj

0    3
1    4
2    5
3    6
dtype: int64

In [135]:
obj.values

array([3, 4, 5, 6], dtype=int64)

In [136]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [137]:
ww2_cas = Series([8700000, 4300000, 3000000, 2400000, 4000000], index = ['USSER', 'Germany','China','Japan','USA'])
ww2_cas

USSER      8700000
Germany    4300000
China      3000000
Japan      2400000
USA        4000000
dtype: int64

In [138]:
ww2_cas['USA']

4000000

In [139]:
ww2_cas[ww2_cas > 4000000]

USSER      8700000
Germany    4300000
dtype: int64

In [140]:
'USA' in ww2_cas

True

In [141]:
ww2_dict = ww2_cas.to_dict()

In [142]:
ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2400000,
 'USA': 4000000,
 'USSER': 8700000}

In [143]:
ww2_series = Series(ww2_dict)
ww2_series

China      3000000
Germany    4300000
Japan      2400000
USA        4000000
USSER      8700000
dtype: int64

In [144]:
ww2_cas2 = Series([8700000, 4300000, 3000000, 2400000, 4000000])
ww2_cas2

0    8700000
1    4300000
2    3000000
3    2400000
4    4000000
dtype: int64

In [145]:
countries = ['USSER', 'Germany','China','Japan','USA', 'Bangladesh']

In [146]:
obj2 = Series(ww2_cas2,index =countries )

In [147]:
obj2

USSER        NaN
Germany      NaN
China        NaN
Japan        NaN
USA          NaN
Bangladesh   NaN
dtype: float64

In [148]:
obj2 = Series(ww2_dict,index =countries )

In [149]:
ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2400000,
 'USA': 4000000,
 'USSER': 8700000}

In [150]:
obj2 = Series(ww2_dict,index =countries )

In [151]:
obj2

USSER         8700000.0
Germany       4300000.0
China         3000000.0
Japan         2400000.0
USA           4000000.0
Bangladesh          NaN
dtype: float64

In [152]:
pd.isnull(obj2)

USSER         False
Germany       False
China         False
Japan         False
USA           False
Bangladesh     True
dtype: bool

In [153]:
pd.notnull(obj2)

USSER          True
Germany        True
China          True
Japan          True
USA            True
Bangladesh    False
dtype: bool

In [154]:
ww2_series + obj2

Bangladesh           NaN
China          6000000.0
Germany        8600000.0
Japan          4800000.0
USA            8000000.0
USSER         17400000.0
dtype: float64

In [155]:
obj2.name = "Name is here"
obj2

USSER         8700000.0
Germany       4300000.0
China         3000000.0
Japan         2400000.0
USA           4000000.0
Bangladesh          NaN
Name: Name is here, dtype: float64

In [156]:
obj2.index.name = "Index Name"
obj2

Index Name
USSER         8700000.0
Germany       4300000.0
China         3000000.0
Japan         2400000.0
USA           4000000.0
Bangladesh          NaN
Name: Name is here, dtype: float64

## Datafram

In [157]:
import webbrowser
website = 'https://en.wikipedia.org/wiki/NFL_win%E2%80%93loss_records'

webbrowser.open(website)

True

In [158]:
nfl_fram = pd.read_clipboard()

In [159]:
nfl_fram

Empty DataFrame
Columns: [Matrix, Multiplication, and, Numpy, Dot]
Index: []

In [160]:
data = DataFrame(nfl_fram, columns=['Team', 'NFL', 'Season'])
data

Empty DataFrame
Columns: [Team, NFL, Season]
Index: []

## Reindex object

In [161]:
data.reindex(columns=['Team','Season','Won'])

Empty DataFrame
Columns: [Team, Season, Won]
Index: []

# Udacity Pandas Play

In [162]:
if True:
    series = pd.Series(['Dave', 'Cheng-Han', 'Udacity', 42, -1789710578])
    print series

0           Dave
1      Cheng-Han
2        Udacity
3             42
4    -1789710578
dtype: object

'''
You can also manually assign indices to the items in the Series when
creating the series
'''

In [163]:
if True:
    series = pd.Series(['Dave', 'Cheng-Han', 359, 9001],
                       index=['Instructor', 'Curriculum Manager',
                              'Course Number', 'Power Level'])
    print series

Instructor                 Dave
Curriculum Manager    Cheng-Han
Course Number               359
Power Level                9001
dtype: object

'''
You can use index to select specific items from the Series
'''

In [164]:
if True:
    series = pd.Series(['Dave', 'Cheng-Han', 359, 9001],
                       index=['Instructor', 'Curriculum Manager',
                              'Course Number', 'Power Level'])
    print series['Instructor']
    print ""
    print series[['Instructor', 'Curriculum Manager', 'Course Number']]

Dave

Instructor                 Dave
Curriculum Manager    Cheng-Han
Course Number               359
dtype: object


'''
You can also use boolean operators to select specific items from the Series
'''

In [165]:
if True:
    cuteness = pd.Series([1, 2, 3, 4, 5], index=['Cockroach', 'Fish', 'Mini Pig',
                                                 'Puppy', 'Kitten'])
    print cuteness > 3
    print ""
    print cuteness[cuteness > 3]

Cockroach    False
Fish         False
Mini Pig     False
Puppy         True
Kitten        True
dtype: bool

Puppy     4
Kitten    5
dtype: int64

## Pandas Playground -- Dataframe

'''
To create a dataframe, you can pass a dictionary of lists to the Dataframe
constructor:
1) The key of the dictionary will be the column name
2) The associating list will be the values within that column.
'''

In [166]:
if True:
    data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
            'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions',
                     'Lions', 'Lions'],
            'wins': [11, 8, 10, 15, 11, 6, 10, 4],
            'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
    football = pd.DataFrame(data)
    print football

   losses     team  wins  year
0       5    Bears    11  2010
1       8    Bears     8  2011
2       6    Bears    10  2012
3       1  Packers    15  2011
4       5  Packers    11  2012
5      10    Lions     6  2010
6       6    Lions    10  2011
7      12    Lions     4  2012

'''
Pandas also has various functions that will help you understand some basic
information about your data frame. Some of these functions are:
1) dtypes: to get the datatype for each column
2) describe: useful for seeing basic statistics of the dataframe's numerical
   columns
3) head: displays the first five rows of the dataset
4) tail: displays the last five rows of the dataset
'''

In [167]:
if True:
    data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
            'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions',
                     'Lions', 'Lions'],
            'wins': [11, 8, 10, 15, 11, 6, 10, 4],
            'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
    football = pd.DataFrame(data)
    print football.dtypes
    print ""
    print football.describe()
    print ""
    print football.head()
    print ""
    print football.tail()

losses     int64
team      object
wins       int64
year       int64
dtype: object

          losses       wins         year
count   8.000000   8.000000     8.000000
mean    6.625000   9.375000  2011.125000
std     3.377975   3.377975     0.834523
min     1.000000   4.000000  2010.000000
25%     5.000000   7.500000  2010.750000
50%     6.000000  10.000000  2011.000000
75%     8.500000  11.000000  2012.000000
max    12.000000  15.000000  2012.000000

   losses     team  wins  year
0       5    Bears    11  2010
1       8    Bears     8  2011
2       6    Bears    10  2012
3       1  Packers    15  2011
4       5  Packers    11  2012

   losses     team  wins  year
3       1  Packers    15  2011
4       5  Packers    11  2012
5      10    Lions     6  2010
6       6    Lions    10  2011
7      12    Lions     4  2012

## Create a DataFrame

In [168]:
#################
# Syntax Reminder:
#
# The following code would create a two-column pandas DataFrame
# named df with columns labeled 'name' and 'age':
#
# people = ['Sarah', 'Mike', 'Chrisna']
# ages  =  [28, 32, 25]
# df = DataFrame({'name' : Series(people),
#                 'age'  : Series(ages)})

def create_dataframe():
    '''
    Create a pandas dataframe called 'olympic_medal_counts_df' containing
    the data from the table of 2014 Sochi winter olympics medal counts.  

    The columns for this dataframe should be called 
    'country_name', 'gold', 'silver', and 'bronze'.  

    There is no need to  specify row indexes for this dataframe 
    (in this case, the rows will automatically be assigned numbered indexes).
    
    You do not need to call the function in your code when running it in the
    browser - the grader will do that automatically when you submit or test it.
    '''

    countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                 'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                 'Austria', 'France', 'Poland', 'China', 'Korea', 
                 'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                 'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                 'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

    gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
    silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
    bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]

    # your code here
    olympic_medal_counts = { 'countries' : countries,
                               'gold' : gold,
                               'silver' : silver,
                               'bronze' : bronze
        
    }
    olympic_medal_counts_df = DataFrame(olympic_medal_counts)
    return olympic_medal_counts_df

In [169]:
create_dataframe()

    bronze       countries  gold  silver
0        9    Russian Fed.    13      11
1       10          Norway    11       5
2        5          Canada    10      10
3       12   United States     9       7
4        9     Netherlands     8       7
5        5         Germany     8       6
6        2     Switzerland     6       3
7        1         Belarus     5       0
8        5         Austria     4       8
9        7          France     4       4
10       1          Poland     4       1
11       2           China     3       4
12       2           Korea     3       3
13       6          Sweden     2       7
14       2  Czech Republic     2       4
15       4        Slovenia     2       2
16       3           Japan     1       4
17       1         Finland     1       3
18       2   Great Britain     1       1
19       1         Ukraine     1       0
20       0        Slovakia     1       0
21       6           Italy     0       2
22       2          Latvia     0       2
23       1       Australia     0       2
24       0         Croatia     0       1
25       1      Kazakhstan     0       0

## Pandas Playground - Indexing Dataframes

'''
You can think of a DataFrame as a group of Series that share an index.
This makes it easy to select specific columns that you want from the 
DataFrame. 

Also a couple pointers:
1) Selecting a single column from the DataFrame will return a Series
2) Selecting multiple columns from the DataFrame will return a DataFrame

*This playground is inspired by Greg Reda's post on Intro to Pandas Data Structures:
http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/
'''

In [170]:
if True:
    data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
            'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions',
                     'Lions', 'Lions'],
            'wins': [11, 8, 10, 15, 11, 6, 10, 4],
            'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
    football = pd.DataFrame(data)
    print football['year']
    print ''
    print football.year  # shorthand for football['year']
    print ''
    print football[['year', 'wins', 'losses']]

0    2010
1    2011
2    2012
3    2011
4    2012
5    2010
6    2011
7    2012
Name: year, dtype: int64

0    2010
1    2011
2    2012
3    2011
4    2012
5    2010
6    2011
7    2012
Name: year, dtype: int64

   year  wins  losses
0  2010    11       5
1  2011     8       8
2  2012    10       6
3  2011    15       1
4  2012    11       5
5  2010     6      10
6  2011    10       6
7  2012     4      12

'''
Row selection can be done through multiple ways.

Some of the basic and common methods are:
   1) Slicing
   2) An individual index (through the functions iloc or loc)
   3) Boolean indexing

You can also combine multiple selection requirements through boolean
operators like & (and) or | (or)
'''

In [171]:
if True:
    data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
            'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions',
                     'Lions', 'Lions'],
            'wins': [11, 8, 10, 15, 11, 6, 10, 4],
            'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
    football = pd.DataFrame(data)
    print football.iloc[[0]]
    print ""
    print football.loc[[0]]
    print ""
    print football[3:5]
    print ""
    print football[football.wins > 10]
    print ""
    print football[(football.wins > 10) & (football.team == "Packers")]

   losses   team  wins  year
0       5  Bears    11  2010

   losses   team  wins  year
0       5  Bears    11  2010

   losses     team  wins  year
3       1  Packers    15  2011
4       5  Packers    11  2012

   losses     team  wins  year
0       5    Bears    11  2010
3       1  Packers    15  2011
4       5  Packers    11  2012

   losses     team  wins  year
3       1  Packers    15  2011
4       5  Packers    11  2012

In [172]:
from pandas import DataFrame, Series
import numpy


def avg_medal_count():
    '''
    Compute the average number of bronze medals earned by countries who
    earned at least one gold medal.

    Save this to a variable named avg_bronze_at_least_one_gold. You do not
    need to call the function in your code when running it in the browser -
    the grader will do that automatically when you submit or test it.

    HINT-1:
    You can retrieve all of the values of a Pandas column from a
    data frame, "df", as follows:
    df['column_name']

    HINT-2:
    The numpy.mean function can accept as an argument a single
    Pandas column.

    For example, numpy.mean(df["col_name"]) would return the
    mean of the values located in "col_name" of a dataframe df.
    '''

    countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                 'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                 'Austria', 'France', 'Poland', 'China', 'Korea',
                 'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                 'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                 'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

    gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
    silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
    bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]

    olympic_medal_counts = {'country_name': Series(countries),
                            'gold': Series(gold),
                            'silver': Series(silver),
                            'bronze': Series(bronze)}
    df = DataFrame(olympic_medal_counts)

    # YOUR CODE HERE
    golds = df[df.gold > 0]
    avg_bronze_at_least_one_gold = numpy.mean(golds['bronze'])
    return avg_bronze_at_least_one_gold

In [173]:
avg_medal_count()

4.238095238095238

## Average Gold, Silver, and Bronze Medals

In [179]:
import numpy
from pandas import DataFrame, Series


def avg_medal_count():
    '''
    Using the dataframe's apply method, create a new Series called 
    avg_medal_count that indicates the average number of gold, silver,
    and bronze medals earned amongst countries who earned at 
    least one medal of any kind at the 2014 Sochi olympics.  Note that
    the countries list already only includes countries that have earned
    at least one medal. No additional filtering is necessary.
    
    You do not need to call the function in your code when running it in the
    browser - the grader will do that automatically when you submit or test it.
    '''

    countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                 'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                 'Austria', 'France', 'Poland', 'China', 'Korea', 
                 'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                 'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                 'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

    gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
    silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
    bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]
    
    olympic_medal_counts = {'country_name':countries,
                            'gold': Series(gold),
                            'silver': Series(silver),
                            'bronze': Series(bronze)}    
    df = DataFrame(olympic_medal_counts)
    
    # YOUR CODE HERE
    
    avg_medal_count = df[['gold','silver','bronze']].apply(numpy.mean)

    
    return avg_medal_count

In [181]:
avg_medal_count()

gold      3.807692
silver    3.730769
bronze    3.807692
dtype: float64

## Olympics Medal Points

In [203]:
countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                 'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                 'Austria', 'France', 'Poland', 'China', 'Korea', 
                 'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                 'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                 'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]

medal = [gold,silver,bronze]
point =[4,2,1]

In [204]:
point

[4, 2, 1]

In [205]:
medal

[[13,
  11,
  10,
  9,
  8,
  8,
  6,
  5,
  4,
  4,
  4,
  3,
  3,
  2,
  2,
  2,
  1,
  1,
  1,
  1,
  1,
  0,
  0,
  0,
  0,
  0],
 [11,
  5,
  10,
  7,
  7,
  6,
  3,
  0,
  8,
  4,
  1,
  4,
  3,
  7,
  4,
  2,
  4,
  3,
  1,
  0,
  0,
  2,
  2,
  2,
  1,
  0],
 [9,
  10,
  5,
  12,
  9,
  5,
  2,
  1,
  5,
  7,
  1,
  2,
  2,
  6,
  2,
  4,
  3,
  1,
  2,
  1,
  0,
  6,
  2,
  1,
  0,
  1]]

In [207]:
np.dot(point,medal)

array([83, 64, 65, 62, 55, 49, 32, 21, 37, 31, 19, 22, 20, 28, 18, 16, 15,
       11,  8,  5,  4, 10,  6,  5,  2,  1])

In [211]:
points  = numpy.dot(point,medal)

data = { 'country_name' : countries,
                'points' : points
        }
data

{'country_name': ['Russian Fed.',
  'Norway',
  'Canada',
  'United States',
  'Netherlands',
  'Germany',
  'Switzerland',
  'Belarus',
  'Austria',
  'France',
  'Poland',
  'China',
  'Korea',
  'Sweden',
  'Czech Republic',
  'Slovenia',
  'Japan',
  'Finland',
  'Great Britain',
  'Ukraine',
  'Slovakia',
  'Italy',
  'Latvia',
  'Australia',
  'Croatia',
  'Kazakhstan'],
 'points': array([83, 64, 65, 62, 55, 49, 32, 21, 37, 31, 19, 22, 20, 28, 18, 16, 15,
        11,  8,  5,  4, 10,  6,  5,  2,  1])}

In [212]:
DataFrame(data)

      country_name  points
0     Russian Fed.      83
1           Norway      64
2           Canada      65
3    United States      62
4      Netherlands      55
5          Germany      49
6      Switzerland      32
7          Belarus      21
8          Austria      37
9           France      31
10          Poland      19
11           China      22
12           Korea      20
13          Sweden      28
14  Czech Republic      18
15        Slovenia      16
16           Japan      15
17         Finland      11
18   Great Britain       8
19         Ukraine       5
20        Slovakia       4
21           Italy      10
22          Latvia       6
23       Australia       5
24         Croatia       2
25      Kazakhstan       1