## Basic Udemy

In [1]:
import numpy as np
import pandas as pd

In [2]:
from pandas import Series, DataFrame

In [3]:
obj = Series([3,4,5,6])

In [4]:
obj

0    3
1    4
2    5
3    6
dtype: int64

In [5]:
obj.values

array([3, 4, 5, 6], dtype=int64)

In [6]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
ww2_cas = Series([8700000, 4300000, 3000000, 2400000, 4000000], index = ['USSER', 'Germany','China','Japan','USA'])
ww2_cas

USSER      8700000
Germany    4300000
China      3000000
Japan      2400000
USA        4000000
dtype: int64

In [8]:
ww2_cas['USA']

4000000

In [9]:
ww2_cas[ww2_cas > 4000000]

USSER      8700000
Germany    4300000
dtype: int64

In [10]:
'USA' in ww2_cas

True

In [11]:
ww2_dict = ww2_cas.to_dict()

In [25]:
ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2400000,
 'USA': 4000000,
 'USSER': 8700000}

In [26]:
ww2_series = Series(ww2_dict)
ww2_series

China      3000000
Germany    4300000
Japan      2400000
USA        4000000
USSER      8700000
dtype: int64

In [27]:
ww2_cas2 = Series([8700000, 4300000, 3000000, 2400000, 4000000])
ww2_cas2

0    8700000
1    4300000
2    3000000
3    2400000
4    4000000
dtype: int64

In [28]:
countries = ['USSER', 'Germany','China','Japan','USA', 'Bangladesh']

In [29]:
obj2 = Series(ww2_cas2,index =countries )

In [30]:
obj2

USSER        NaN
Germany      NaN
China        NaN
Japan        NaN
USA          NaN
Bangladesh   NaN
dtype: float64

In [33]:
obj2 = Series(ww2_dict,index =countries )

In [35]:
ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2400000,
 'USA': 4000000,
 'USSER': 8700000}

In [43]:
obj2 = Series(ww2_dict,index =countries )

In [44]:
obj2

USSER         8700000.0
Germany       4300000.0
China         3000000.0
Japan         2400000.0
USA           4000000.0
Bangladesh          NaN
dtype: float64

In [45]:
pd.isnull(obj2)

USSER         False
Germany       False
China         False
Japan         False
USA           False
Bangladesh     True
dtype: bool

In [46]:
pd.notnull(obj2)

USSER          True
Germany        True
China          True
Japan          True
USA            True
Bangladesh    False
dtype: bool

In [47]:
ww2_series + obj2

Bangladesh           NaN
China          6000000.0
Germany        8600000.0
Japan          4800000.0
USA            8000000.0
USSER         17400000.0
dtype: float64

In [48]:
obj2.name = "Name is here"
obj2

USSER         8700000.0
Germany       4300000.0
China         3000000.0
Japan         2400000.0
USA           4000000.0
Bangladesh          NaN
Name: Name is here, dtype: float64

In [49]:
obj2.index.name = "Index Name"
obj2

Index Name
USSER         8700000.0
Germany       4300000.0
China         3000000.0
Japan         2400000.0
USA           4000000.0
Bangladesh          NaN
Name: Name is here, dtype: float64

## Datafram

In [58]:
import webbrowser
website = 'https://en.wikipedia.org/wiki/NFL_win%E2%80%93loss_records'

webbrowser.open(website)

True

In [62]:
nfl_fram = pd.read_clipboard()

In [63]:
nfl_fram

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East,NaN
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North
2,3,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN
4,5,New,England,Patriots,476,383,9.000,0.554,1960,868,AFC,East
5,6,New,York,Giants,684,572,33.000,0.543,1925,"1,289",NFC,East

In [68]:
data = DataFrame(nfl_fram, columns=['Team', 'NFL', 'Season'])
data

      Team       NFL Season
0   Dallas  1960.000    866
1    Green     0.567   1921
2  Chicago  1920.000  1,354
3    Miami  1966.000    784
4      New     0.554   1960
5      New     0.543   1925

## Reindex object

In [69]:
data.reindex(columns=['Team','Season','Won'])

      Team Season  Won
0   Dallas    866  NaN
1    Green   1921  NaN
2  Chicago  1,354  NaN
3    Miami    784  NaN
4      New   1960  NaN
5      New   1925  NaN